name:  JOBS at push to main

on:
  push:
    branches:
      - main

permissions:
  contents: write
  packages: write
  pull-requests: write

jobs:
  release-drafter:
    uses: ./.github/workflows/release-drafter.yml

  build-pdf:
    needs: [release-drafter]
    uses: ./.github/workflows/build-pdf.yml

  release-update:
    needs: [release-drafter,build-pdf]
    uses: ./.github/workflows/release-update.yml
    with:
      upload_url:  ${{ needs.release-drafter.outputs.update_url }}
      name_pdf:    ${{ needs.build-pdf.outputs.name_pdf }}
